<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Your Website</title>
    
    

</head>
<body>

    <!-- Content -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Hızlı Linkler -->
                <div class="col-md-4 footer-section">
                    <h4>Hızlı Linkler</h4>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetler</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </div>
                <!-- Sosyal Medya -->
                <div class="col-md-4 footer-section">
                    <h4>Sosyal Medya</h4>
                    <ul class="list-unstyled footer-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    </ul>
                </div>
                <!-- İletişim Bilgileri -->
                <div class="col-md-4 footer-section">
                    <h4>İletişim Bilgileri</h4>
                    <address class="footer-contact">
                        <strong>Adres:</strong> Mustafa Kemal Mahallesi 694/23 Sokak Buca/İzmir<br>
                        <strong>Email:</strong> keremozkann2004@hotmail.com<br>
                        <strong>Telefon:</strong> +90 507 425 59 54
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script> 
    
</body>
</html>
